body {
    background-color: #EEEEEE;
    color: #222831;
}

hr {
    border-color: #00ADB5;
    border-style: dotted none none none;
    border-width: 5px;
    width: 10%;      
}

h1, h3 {
    color: #393E46;
}

